# Arquivos de Cache
__pycache__/
*.pyc

# Banco de Dados
db.sqlite3*

# Ambiente Virtual
/venv/

# Pasta de estáticos gerada
/staticfiles/

# Arquivo de segredos
.env

# Arquivos de IDE e SO
.vscode/
.idea/
.DS_Store
Thumbs.db